[Desktop Entry]
Type=Application
Exec=/usr/bin/torguard
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Torguard VPN
Name=Torguard VPN
Comment[en_US]=
Comment=
